<% if user_signed_in? %>

<h1>Friend List</h1>

<table class="table table-striped table-boardered table-hover">
  <thead class="thead-dark">
    <tr> 
      <th>Name</th>

      <th>Email string</th>
      <th>Phone</th>
      <th>Twitter</th>  
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if  friend.user == current_user %>
      <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>
        <td><%= friend.email_string %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>


        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-secondary"%></td>
      </tr>
    <% end %>
        <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>
<% else %>
<h1> Hello World! </h1>
  <% end %>




