<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @friend.last_name %>
</p>

<p>
  <strong>Email string:</strong>
  <%= @friend.email_string %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @friend.twitter %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %> 
<%= link_to 'Back', friends_path,class:"btn btn-secondary" %>
 | 
<%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-secondary"%>
