
<div class="card">
  <div class="card-header">
  <h4>Log in</h4>
  </div>
  <div class="card-body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <% f.label :email,class:"form-control",
    placeholder: "Email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <% f.label :password,class:"form-control",
    placeholder: "Password" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions form-group">
    <%= f.submit "Log in", class:'btn btn-secondary' %>
  </div>
<% end %>
<br/>

  </div>
</div>




<%= render "devise/shared/links" %>
